.header-contacto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 300px;
    background-image: url(https://images.pond5.com/concert-phone-music-light-090454948_prevstill.jpeg);
    background-size: cover;
    background-position-y: center;
    filter: grayscale(100%);
    position: sticky;
}
/* FORMULARIO CONTACTO */

.contenedor-form {
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 5px 5px 25px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    margin: 100px 450px 100px 450px;
    padding: 100px 0 100px 0;
}
.main-contacto h2 {
    text-align: center;
    margin: 30px auto;
}
.main-contacto h3 {
    margin: 20px auto;
    text-align: center;
}
.main-contacto p {
    margin: auto 250px;
    text-align: left;
    color: black;
    font-weight: bold;
}
.container-form {
    // background-color: rgb(238, 238, 238);
    margin: 50px auto;
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    .formulario{
        -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.12);
        -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.12);
        box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.12);
        padding: 10px;
        border-radius: 10px;
    }
}

/* MAPA */
.mapa {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.mapa iframe {
    width: 100%;
}
/* FAQ */
.contenedor-faq {
    background-color: #e9eced;
    padding: 1px;
}
.faq {
    width: 75%;
    margin: 100px auto;
}
.faq h1 {
    text-align: center;
    margin-bottom: 25px;
}
.accordion-header {
    margin: 5px auto !important;
}
// RESPONSIVE - MEDIA QUERIES

@media (max-width: 1290px) {
    .main-contacto p {
        width: 60%;
        margin: auto;
        text-align: left;

    }
}
@media (max-width: 991px){
    .main-contacto p {
        width: 80%;
    }

    .main-contacto h2 {
        text-align: center;
        margin: 60px auto;
    }  
}
@media (max-width: 699px){
    .main-contacto p {
        display: none;
    }
    .header-contacto{
        background-image: none;
        padding-bottom: 30px;
    }
}
@media (max-width: 391px){
    .main-contacto p {
        display: none;
    }
    .mapa{
        display: none;
    }
}



