@import url('https:fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

$fuente-general:"Montserrat", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

$fuente-frases:"Rubik Mono One", monospace;

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

$fuente-titulos-banner:"Noto Serif", serif;;

